/* ScrollAnimation.css */

* {
  box-sizing: border-box;
}

body {
  background: #e6e6e6;
  color: #000;
}

.image {
  max-width: 700px;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  vertical-align: middle;
}

section {
  min-height: 80vh;
  margin: 100px auto;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.top-section h1 {
  font-size: 60px;
}

.img-container {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
}

.copy {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 5%;
  text-align: left;
}

.copy h2 {
  font-size: 50px;
  margin-top: 0;
}

@media screen and (min-width: 1000px) {
  .copy h2 {
    font-size: 70px;
  }
}

.bottom-shadow {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #e6e6e6 40%);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.top-shadow {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #e6e6e6 25%);
  height: 100%;
  width: 140%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
